# Database files
*.db
*.sqlite3


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.fastapi_env/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/

# MySQL connection files (if any)
*.pem
*.key

# Env files
*.env
